In [1]:
import numpy as np
import pandas as pd
import random
from datetime import datetime, timedelta

In [2]:

def random_datetime(start_datetime, end_datetime):
    """
    Generate a random datetime between start_datetime and end_datetime.
    
    Args:
        start_datetime (datetime): The start datetime.
        end_datetime (datetime): The end datetime.
    
    Returns:
        datetime: A randomly generated datetime.
    """
    delta = end_datetime - start_datetime
    random_seconds = random.randrange(delta.total_seconds())
    return start_datetime + timedelta(seconds=random_seconds)

# Example usage:
start_datetime = datetime(2023, 1, 1, 0, 0, 0)  # Start date and time
end_datetime = datetime(2023, 12, 31, 23, 59, 59)  # End date and time

# Generate random datetimes
num_datetimes = 10
random_datetimes = [random_datetime(start_datetime, end_datetime) for _ in range(num_datetimes)]

# Create a pandas DataFrame
df = pd.DataFrame({'Timestamp': random_datetimes})

df = df.sort_values(by='Timestamp')

df

            Timestamp
2 2023-02-07 05:47:48
8 2023-02-22 09:18:50
1 2023-03-21 01:05:01
0 2023-04-30 19:32:55
3 2023-07-12 04:57:03
6 2023-07-22 20:14:31
7 2023-09-29 04:13:34
4 2023-10-03 10:49:58
9 2023-11-19 02:45:15
5 2023-12-03 20:34:32

In [4]:
df["Fault"] = 0
df["Fault"] = df["Fault"].apply(lambda x: random.randint(0,1))
df

            Timestamp  Fault
2 2023-02-07 05:47:48      0
8 2023-02-22 09:18:50      0
1 2023-03-21 01:05:01      0
0 2023-04-30 19:32:55      0
3 2023-07-12 04:57:03      1
6 2023-07-22 20:14:31      0
7 2023-09-29 04:13:34      1
4 2023-10-03 10:49:58      0
9 2023-11-19 02:45:15      0
5 2023-12-03 20:34:32      0

In [5]:
def fault_description(fault):
    """
    Convert fault values to fault descriptions.
    
    Args:
        fault (int): The fault value (0 or 1).
    
    Returns:
        str: The fault description.
    """
    return "I have a fault" if fault == 1 else "I have no fault"

In [6]:
df["Fault"]= df["Fault"].apply(lambda x:fault_description(x))
df

            Timestamp            Fault
2 2023-02-07 05:47:48  I have no fault
8 2023-02-22 09:18:50  I have no fault
1 2023-03-21 01:05:01  I have no fault
0 2023-04-30 19:32:55  I have no fault
3 2023-07-12 04:57:03   I have a fault
6 2023-07-22 20:14:31  I have no fault
7 2023-09-29 04:13:34   I have a fault
4 2023-10-03 10:49:58  I have no fault
9 2023-11-19 02:45:15  I have no fault
5 2023-12-03 20:34:32  I have no fault

In [17]:
df["Distance Travelled"] = 0
df["Number of Trips"] = 0
df["Status"] = 0
# df.insert(1, "Robot_id", 0)
# df.insert(2, "Bin_id",0)

df

,Timestamp,Robot_id,Bin_id,Fault,Distance Travelled,Number of Trips,Status
2,2023-02-07 05:47:48,0,0,I have no fault,0,0,0
8,2023-02-22 09:18:50,0,0,I have no fault,0,0,0
1,2023-03-21 01:05:01,0,0,I have no fault,0,0,0
0,2023-04-30 19:32:55,0,0,I have no fault,0,0,0
3,2023-07-12 04:57:03,0,0,I have a fault,0,0,0
6,2023-07-22 20:14:31,0,0,I have no fault,0,0,0
7,2023-09-29 04:13:34,0,0,I have a fault,0,0,0
4,2023-10-03 10:49:58,0,0,I have no fault,0,0,0
9,2023-11-19 02:45:15,0,0,I have no fault,0,0,0
5,2023-12-03 20:34:32,0,0,I have no fault,0,0,0

In [18]:
df["Robot_id"] = df["Robot_id"].apply(lambda x:random.randint(1,4))
df["Bin_id"] = df["Bin_id"].apply(lambda x:random.randint(1,20))
df

,Timestamp,Robot_id,Bin_id,Fault,Distance Travelled,Number of Trips,Status
2,2023-02-07 05:47:48,2,18,I have no fault,0,0,0
8,2023-02-22 09:18:50,2,15,I have no fault,0,0,0
1,2023-03-21 01:05:01,3,4,I have no fault,0,0,0
0,2023-04-30 19:32:55,2,6,I have no fault,0,0,0
3,2023-07-12 04:57:03,3,14,I have a fault,0,0,0
6,2023-07-22 20:14:31,3,8,I have no fault,0,0,0
7,2023-09-29 04:13:34,1,7,I have a fault,0,0,0
4,2023-10-03 10:49:58,2,20,I have no fault,0,0,0
9,2023-11-19 02:45:15,4,8,I have no fault,0,0,0
5,2023-12-03 20:34:32,3,11,I have no fault,0,0,0